<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hola <%= @invited.name %>!!!,  <%= @host.name %> te ha invitado al AOC Chile 2018</p>
<p>
  ¡Felicitaciones! Fuiste seleccionad@ para participar del <a href="http://chile.agileopen.camp/">Agile Open Camp Chile 2018</a>.
  A partir de este momento tu lugar en el evento está asegurado y contamos con tu asistencia.
</p>
<p>
  Estos son los pasos a seguir:

<ol>
  <li>
    <p>
      <strong>Pago:</strong> Recuerda que para garantizar tu asistencia y
      continuar con el método de selección debes realizar el pago total de la
      entrada $144.000 CLP (aproximadamente 225 USD) más cargos administrativos.
      Tienes un plazo de 4 días hábiles para realizar este pago. Pasado este plazo 
      tu cupo será liberado para que la persona que te invitó pueda invitar a
      una persona diferente. Por otro lado te pedimos por favor, que si por
      alguna razón decides no asistir, nos lo hagas saber cuanto antes. Para
      realizar el pago debes ingresar al siguiente
      <a href="https://www.eventrid.cl/aocchile/eventos/aoc-chile-2018/participantes/inscripcion/iframe">sitio web</a>. 
      En otro email te haremos llegar tu código personal de ingreso a utilizar para eso. Para pagar desde afuera de Chile, 
      tener en cuenta que solo se podrá hacer a través de la opción de Paypal, que habilita el uso de tarjetas de crédito
      desde afuera de Chile. 

    </p>
    <p>
      <strong>Habilitación Selección:</strong> Una vez hayamos comprobado tu
      pago habilitaremos en tu perfil de San Saru dos invitaciones para que
      selecciones a dos personas postuladas (sujeto a disponibilidad de cupos).
    </p>
    <p>
      <strong>Selección:</strong> Selecciona en la <a href="https://sansaru.herokuapp.com/home">App San Saru</a> a dos personas que quieras que participen
      en el evento. Te pedimos que en la medida de tus posibilidades, hagas tu
      selección dentro de los próximos 2 días (una vez estés habilitado para
      seleccionar) y que intentes basarla en características que consideres que
      harán del AOC un evento más asombroso y no solo en amiguismos y/o
      relaciones personales. <a href="https://youtu.be/trdETdNIl3Q">Aquí</a> encontrarás un instructivo sobre como seleccionar.
    </p>

  </li>
</ol>

</p>

<h3>Nota</h3>

<p><strong>Cupo: </strong>Te recordamos que nuestro cupo de invitaciones es de 80 personas y una vez completado el cupo no podrás invitar a nadie más si no lo hiciste antes.</p>

<p><strong>Devoluciones: </strong>Ten en cuenta que si pagas y decides no asistir al evento no podremos devolverte el monto completo de tu pago ya que existen costos 
que no podemos recuperar cómo son los costos de la empresa de ticket y los impuestos (Monto aproximado de 50 USD) y además con este dinero estamos reservando el lugar 
y pagando otros gastos, sólo realizaremos devoluciones posteriormente a la aplicación de los descuentos por los gastos indicados anteriormente y hasta un mes antes de la realización del evento. </p>

<p><strong>Ayudanos a Conseguir Sponsors: </strong>También te invitamos a ayudarnos a conseguir sponsors. Te compartimos esta 
<a href="https://drive.google.com/file/d/1hE5KSFFMezpOh9cDeauFuoiPCR5KGDlk/view?usp=sharing">carta de presentación</a> del evento, 
para que puedas presentarla a cualquier potencial sponsor. ¡Muchas gracias!
</p>

<p><strong>¿Cómo Comunicarnos? </strong>Por último puedes unirte al grupo de <a href="https://t.me/joinchat/BSvEWUGBP8ifdPJs-BhMVw">Telegram</a>, donde estaremos todos los participantes del evento.
</p>

<p><strong>Horarios y Ubicación: </strong>Nos econtraremos el jueves 8 de noviembre a las 5 p.m. en un punto centrico de Santiago de Chile 
y volveremos tod@s el domingo 11 de noviembre a las 6 p.m. a este mismo punto de encuentro. La ubicación del Agile Open Camp Chile 2018 la vamos a mantener secreta hasta el último momento
</p>

<p>Ya empezó tu viaje... ¡Nos vemos en Noviembre!</p>

<p>El equipo AOC Chile 2018</p>

</body>
</html>
